export(adres_do_korespondencji)
export(dane_nadrzedne_rspo)
export(dane_placowka_zespol)
export(dane_wojewodztwa)
export(kody_wojewodztw)
export(nadrzedne_rspo)
export(pobierz_dane_jednego_rspo)
export(pobierz_rspo)
export(polacz_pliki)
export(sprawdz_baze)
export(szczegolowe_dane_placowka)
export(szkoly_woj_strona)
export(wartosc)
export(wszystkie_nadrzedne)
export(zmienne_globalne)
